:root {
  --color1: #e85f99;
  --color2: #65587f;
  --color3: #cfd0ac;
  --color4: #8c544f;
  --color5: #653a3d;
  --color6: #87a087;
  --gameWidth: 800px;
  --gameHeight: 600px;
  --chartLength: 300px;
  --chartRadius: 660px;
  --borderOuterRadius: 10px;
  --border-radius-inner: calc(var(--borderOuterRadius) / 2);
  box-sizing: border-box;
  line-height: 1.4;
}

.gameScreenBorder {
  width: var(--gameWidth);
  height: var(--gameHeight);
  border-radius: var(--borderOuterRadius);
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.rainbowBorder {
  position: absolute;
  left: -200px;
  top: -275px;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(150deg, transparent 63%, var(--color1) 63%),
    linear-gradient(120deg, transparent 36.5%, var(--color1) 36.5%),
    linear-gradient(var(--color1), var(--color1)),
    linear-gradient(240deg, transparent 63%, var(--color2) 63%),
    linear-gradient(210deg, transparent 36.5%, var(--color2) 36.5%),
    linear-gradient(var(--color2), var(--color2)),
    linear-gradient(330deg, transparent 63%, var(--color1) 63%),
    linear-gradient(300deg, transparent 36.5%, var(--color1) 36.5%),
    linear-gradient(var(--color1), var(--color1)),
    linear-gradient(60deg, transparent 63%, var(--color2) 63%),
    linear-gradient(30deg, transparent 36.5%, var(--color2) 36.5%),
    linear-gradient(var(--color2), var(--color2));
  background-position: right top, right top, right top, right bottom,
    right bottom, right bottom, left bottom, left bottom, left bottom, left top,
    left top, left top;
  box-shadow: 0 10px 40px -10px rgba(10, 132, 255, 0.26);
  animation: rotateCounterClockwise linear 10s infinite;
  z-index: -1;
}
.whiteBox {
  background-color: rgb(247, 237, 220);
  top: 8px;
  left: 8px;
  width: calc(var(--gameWidth) - 16px);
  height: calc(var(--gameHeight) - 16px);
  overflow: hidden;
  position: absolute;
  box-shadow: 0 10px 40px -10px rgba(10, 132, 255, 0.26);
  border-radius: var(--borderOuterRadius);
}
.dottedLine {
  position: absolute;
  top: 11px;
  left: 11px;
  width: calc(var(--gameWidth) - 32px);
  height: calc(var(--gameHeight) - 32px - 100px - 3px);
  border-radius: calc(var(--borderOuterRadius) - 4px);
  border: 4px dashed;
  z-index: 1;
}
#gameScreen {
  position: absolute;
  z-index: 10;
}

@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
